<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965975648063-83vjd0qn1jcc6a89a589uj1euvvto7li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965975648063-83vjd0qn1jcc6a89a589uj1euvvto7li</string>
	<key>API_KEY</key>
	<string>AIzaSyDKYgNUwwkfiTmjj0HuGCKkMc7_a89O0Jw</string>
	<key>GCM_SENDER_ID</key>
	<string>965975648063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dailyExpenditureTracker</string>
	<key>PROJECT_ID</key>
	<string>dailyexpendituretracker</string>
	<key>STORAGE_BUCKET</key>
	<string>dailyexpendituretracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965975648063:ios:2df2863d29aa922f09158a</string>
</dict>
</plist>